
.background{
    width: 100vw;
    height: 90vh;
    background-image: url('/images/background-img3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
@font-face {
    font-family:myFont ;
    src: url('/styles/VehicleBreaksDown-Regular.ttf');
    font-size: 120px;
}
.game-title{
    margin: auto;
    height: 10vh;
    width: 100vh;
    font-family: myFont ;
    color: rgb(196, 104, 0); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-title a{
    text-decoration: none;
    color: inherit;
}

#canvas{
    margin: 30px;
    border: 1px solid rgba(71, 31, 15, 0.74)
}


.game{
    text-align: center;
}
.all-buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.buttons{    
    font-family: MyFont;
    background-color: rgba(87, 49, 22, 0.726);
    text-align: center;
}
h5{
    font-family: MyFont;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
#time-out{
    color:whitesmoke;
    font-family: MyFont;
    font-size: 30px;
    height: 8vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#countdown{
    background-color: rgba(0, 0, 0, 0.452);
}
#modal{
display: flex;
justify-content: center;
}
.modal{
    font-family: MyFont;
}
.arrows{
    background-image: url('/images/arrows.png');
    background-repeat:no-repeat;
    background-position-x: right;
    background-size: 150px;
}