@font-face {
    font-family:myFont ;
    src: url('/styles/VehicleBreaksDown-Regular.ttf');
    font-size: 120px;
}
body, html{
    height: 100vh;
}
.section-down{
    width: 100vw;
}
.background{
    padding-bottom: 11.5%;
    background-image: url('/images/background-img3-baja-resolucion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}  

.game-title{
    margin: auto;
    width: 100vh;
    font-family: myFont ;
    color: rgb(196, 104, 0); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-title a{
    text-decoration: none;
    color: inherit;
}
.game{
    text-align: center;
}
#canvas{
    margin-top: 10px;
    border: 1px solid rgba(71, 31, 15, 0.74)
}

.all-buttons{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}
.buttons{    
    font-family: MyFont;
    background-color: rgba(87, 49, 22, 0.726);
    text-align: center;
}

h5{
    font-family: MyFont;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#time-out{
    color:whitesmoke;
    font-family: MyFont;
    font-size: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#countdown{
    border-radius: 15%;
    padding:3px;
    background-color: rgba(87, 49, 22, 0.726);
}

#modal{
    display: flex;
    justify-content: center;
}
.modal-title{
    font-size:35px;
}
.modal{
    font-family: MyFont;
    font-size: 20px;
}
.arrows{
    background-image: url('/images/arrows.png');
    background-repeat:no-repeat;
    background-position-x: right;
    background-size: 160px;
}
